body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    .large-text {
  font-size: 12px;
}

}

header {
    background-color: #d19dc0;
    color: white;
    padding: 15px;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

main img {
    max-width: 30%;
    height: auto;
    margin-right: 50px; / Добавляем отступ справа от изображения /
}

main .text-content {
    flex: 1;
    line-height: 1.5;
    text-align: left;
    flex-direction: column;
    justify-content: top;
    font-family:'Verdana'
    font-style: italic;
    color: #730073;
}


footer {
    background-color: #d19dc0;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

