{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="right-aligned">
    <h2>Блог, посвященный красоте и уходу за здоровьем</h2>

    <p>В нашем блоге мы будем делиться с Вами секретами и советами о том, как сохранить и улучшить вашу внешность и внутреннее
        благополучие. От новейших тенденций в макияже и уходе за кожей до полезных советов о здоровом питании и фитнесе - мы
        постараемся охватить все аспекты красоты и здоровья, чтобы помочь вам выглядеть и чувствовать себя лучше.

        Наши статьи будут написаны с учетом последних научных исследований и рекомендаций профессионалов в области красоты и здоровья.
        Мы также будем делиться личными историями и опытом наших экспертов, чтобы вдохновить и мотивировать вас на пути к достижению
        Ваших целей. </p>
</div>

<ul>
        {% for article in articles %}
        <h3>{{ article.title }}</h3>
        <p>{{ article.content }}</p>
        <p>{{ article.created_at }}</p>

        {% endfor %}
    </ul>
{% endblock %}
