{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>О нас</h2>
        <p>Добро пожаловать в наш салон красоты "Оазис", где мы предлагаем широкий спектр качественных услуг для тех, кто ценит
        красоту и комфорт. Наша команда опытных специалистов готова помочь Вам выглядеть и чувствовать себя наилучшим образом.
        Наш салон предлагает уютную атмосферу, чтобы вы чувствовали себя комфортно и расслабленно во время процедур</p>
    </div>
    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/salon_interior.jpg') }}" class="img-fluid" alt="Интерьер салона">
    </div>
</div>
{% endblock %}
</html>