{% extends 'base.html' %}

{% block title %}Статьи{% endblock %}

{% block content %}
<h2>Блог, посвященный красоте и уходу за здоровьем</h2>
        <p>В нашем блоге мы будем делиться с Вами секретами и советами о том, как сохранить и улучшить вашу внешность и внутреннее
        благополучие. От новейших тенденций в макияже и уходе за кожей до полезных советов о здоровом питании и фитнесе - мы
        постараемся охватить все аспекты красоты и здоровья, чтобы помочь вам выглядеть и чувствовать себя лучше.

        Наши статьи будут написаны с учетом последних научных исследований и рекомендаций профессионалов в области красоты и здоровья.
        Мы также будем делиться личными историями и опытом наших экспертов, чтобы вдохновить и мотивировать вас на пути к достижению
        Ваших целей. </p>
<div class="row">
    {% for article in articles %}
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content }}</p>
                <p class="card-text"><small class="text-muted">Опубликовано {{ article.created_at }}</small></p>
            </div>
        </div>
    </div>
    {% else %}
    <p>Нет доступных статей.</p>
    {% endfor %}
</div>
{% endblock %}
